/* 重置浏览器默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* 导航栏样式 */
header {
  background: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20rpx;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.container{
display:flex;
}

/* 视频播放区域样式 */
.video-player {
  flex:2;
  width: 70%;
  margin-right: 30rpx;
  float: left;
}

video {
  width: 100%;
  max-height: 500rpx; /* 可根据需要调整 */
}

/* 评论区样式 */
.comments {
  width: 70%;
  margin-right: 30rpx;
  float: left;
  margin-top: 20rpx;
}

#commentsList {
  margin-bottom: 20rpx;
}

#commentBox {
  width: 100%;
  margin-bottom: 10rpx;
}

#submitComment {
  display: block;
  width: 100%;
  padding: 10rpx;
  margin-bottom: 20rpx;
  cursor: pointer;
}

/* 视频资源列表样式 */
.video-list {
  flex:1;
  width: 30%;
  float: right;
}

.video-list h2 {
  padding: 50rpx;
  background: #f4f4f4;
}

.video-list ul {
  list-style-type: none;
}

.video-list li {
  padding: 10rpx;
  background: #eee;
  margin-bottom: 5rpx;
  cursor: pointer;
}

.video-list li:hover {
  background: #ddd;
}

/* 清除浮动 */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
