body {
    font-family: Arial, sans-serif;
}

#container {
    width: 960px;
    margin: 0 auto;
}

header, footer {
    background-color: #b0e0e6;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
}

#content {
    flex: 3; /* 占据多余空间的3份中的2份 */
    background-color: #add8e6;
    padding: 20px;
}

#sidebar {
    flex: 1; /* 占据多余空间的3份中的1份 */
    background-color: #87ceeb;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #87cefa;
    padding: 10px;
    text-align: center;
}
